.disclosure__container {
  background-color: #fdfaff;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.disclosure__wrapper {
  width: 80%;
  height: 100%;
  display: block;
  position: absolute;
  top: -60px;
  background-color: #fdfffc;
  box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
}

.disclosure__wrapper-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.disclosure__wrapper-info > h1 {
  margin: 5px;
  color: #1b2a37;
  font-size: 2em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.32);
  border-bottom: 1px solid #ff9f1c;
}

.logo {
  width: 18px;
}

.info__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.info__wrapper-text {
  width: 50%;
  margin: 25px;

  text-align: center;
}

.info__wrapper-text img {
  width: 30px;
  margin-bottom: 10px;
}

.info__wrapper-text > p {
  font-weight: normal;
  font-size: 18px;
}

.info__wrapper-text > h3 {
  font-size: 1.5em;
  color: #1b2a37;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.32);
  margin: 10px;
}

.info__wrapper-image {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.62);
}

@media screen and (max-width: 960px) {
  .disclosure__wrapper {
    top: -23vh;
  }

  .disclosure__wrapper-info > h1 {
    font-size: 1.5em;
  }

  .logo {
    width: 12px;
  }

  .info__wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }

  .info__wrapper-text {
    width: 100%;
  }

  .info__wrapper-text > h3 {
    font-size: 25px;
    text-align: center;
  }

  .info__wrapper-text > p {
    font-size: 1em;
    margin: 0 20px;
    font-weight: normal;
  }

  .info__wrapper-image {
    margin-top: 10px;
    width: 90%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .info__wrapper-image {
    max-height: 600px;
    height: 100%;
    max-width: 800px;
  }
}
